-content_for :sidebar do
  = render :partial => 'projects/recent'
    
%h3 Recommendations
- for recommendation in @recommendations
  %div.body_part{ :style => 'margin-bottom: 20px;' }
    %p
      %i= "\"#{h(recommendation.body)}\""
      %strong= "- #{h(recommendation.name)}, #{h(recommendation.title)}, #{h(recommendation.company)}"

%div.body_part
  %p
    %strong= will_paginate @recommendations