%div.body_part
  %h3= h(@project.title)
  %p
    = link_to(image_tag(@project.image.url, :alt => h(@project.title), :size => '300x200', :style => 'float: right; margin: 0 0 5px 20px;'), h(@project.url))
    = @project.description.markdown
  - unless @project.url.blank?
    %p
      %strong
        See it in action:
        = link_to(h(@project.url), h(@project.url))
      %br
      %br
  %p
    %strong= link_to('&laquo; Back to Portfolio', projects_path)
